@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
    //Home Page
}


<h1>Ladies and Gentlemen...the Joel Hilton Film Collection</h1>
<img src="~/img/hilton.jpg" height="500"/>
<div>
    <p>

    </p>
</div>

<br />
<br />
